<h1><%= t 'dev_profiles.form.finish_profile' %></h1>
<% if @dev_profile.errors.any? %>
  <ul>
    <% @dev_profile.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<% if @expertise.blank? %>
  <h3><%= t 'dev_profiles.form.register_new_field_of_expertise' %></h3>
  <%= link_to "#{t 'dev_profiles.form.new_expertise'}", new_expertise_path %>
<% else %>
  <%= render 'form', dev_profile: @dev_profile %>
<% end %>