<h3>Esse é o seu Perfil</h3>

<% if dev_signed_in?%>
  <nav>
    <div><%= link_to 'Log out', destroy_dev_session_path, method: :delete %></div>
    <div><%= link_to 'Editar perfil', edit_dev_profile_path(current_dev.id) %></div>
  </nav>
<% end %>
<dl>
  <dd>Nome completo: <%= @dev_profile.full_name %></dd>
  <dd id='nome_social'>Nome social: <%= @dev_profile.social_name %></dd>
  <dd><%= image_tag @dev_profile.avatar, width: '150px' %></dd>
  <dd>Data de nascimento: <%=l @dev_profile.date_of_birth %></dd>
  <dd>Área de atuação: <%= @dev_profile.expertise.field_of_expertise %></dd>
  <dd>Formação educacional: <%= @dev_profile.academic_education %></dd>
  <dd>Experiência profissional: <%= @dev_profile.previous_experience %></dd>
  <dd>Sobre você: <%= @dev_profile.description %></dd>
</dl>



