<h3><%= (t 'dev_profiles.form.profile_owner')+ ' ' + @dev_profile.full_name %></h3>

<dl>
  <dd><%= (t 'activerecord.attributes.dev_profile.full_name') + ': ' + @dev_profile.full_name %></dd>
  <dd id='nome_social'><%=  (t 'activerecord.attributes.dev_profile.social_name') + ': ' +  @dev_profile.social_name %></dd>
  <dd><%= image_tag @dev_profile.avatar, width: '150px' %></dd>
  <dd><%= (t 'activerecord.attributes.dev_profile.date_of_birth') + ': ' + (l @dev_profile.date_of_birth) %></dd>
  <dd><%= (t 'activerecord.attributes.dev_profile.expertise_id') + ': ' + @dev_profile.expertise.field_of_expertise %></dd>
  <dd><%= (t 'activerecord.attributes.dev_profile.academic_education') + ': ' + @dev_profile.academic_education %></dd>
  <dd><%= (t 'activerecord.attributes.dev_profile.previous_experience') + ': ' + @dev_profile.previous_experience %></dd>
  <dd><%= (t 'activerecord.attributes.dev_profile.description') + ': ' +@dev_profile.description %></dd>
</dl>



