<% if @expertise.errors.any? %>
  <ul>
    <% @expertise.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @expertise) do |f| %>
    <div>
      <%= f.label :field_of_expertise %>
      <%= f.text_field :field_of_expertise %>
    </div>
    <%= f.submit 'Cadastrar' %>
<% end %>