<% if user_signed_in? %>
  <div><%= link_to 'Criar novo projeto', new_project_path %></div>
  <div><%= link_to 'Meus projetos', my_projects_projects_path %></div>
  <div><%= link_to 'Adicionar uma Modalidade de Trabalho', new_work_type_path %></div>
<% end %>

<%= form_with url: search_path, method: :get do %>
  <%= label_tag :q, 'Buscar' %>
  <%= text_field_tag :q %>
  <%= submit_tag 'Buscar' %>
<% end %>

<div>
  <% @projects.each do |p| %>
    <% if p.hire_date_limit > Date.current %>
      <div>
        <p>Título: <%= link_to p.title, p %></p>
        <p>Habilidades desejadas: <%= p.skill_sets %></p>
        <p>Data limite para contratação: <%= l p.hire_date_limit %></p>
        <p>Pagamento máximo (por hora): <%= number_to_currency p.max_payment_per_hour %></p>
      </div>
    <% end %>
  <% end %>
</div>
