
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= form_with url: "/search", method: :get, local: true, class: "d-flex" do |f| %>
      <%= f.label :q, 'Buscar' %>
      <%= f.text_field :q,  class:"form-control me-2" %>
      <%= f.submit 'Buscar', class: "btn btn-outline-success" %>
    <% end %>
  </div>
</nav>

<div>
  <% @projects.each do |p| %>
    <% if p.hire_date_limit > Date.current and p.status != 'inactive' %>
      <br>
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title"><%= link_to p.title, p %></h5>
          <p class="card-text">Habilidades desejadas: <%= p.skill_sets %></p>
          <p class="card-text">Data limite para contratação: <%= l p.hire_date_limit %></p>
          <p class="card-text">Pagamento máximo (por hora): <%= number_to_currency p.max_payment_per_hour %></p>
        </div>
      </div>
    <% end %>
  <% end %>

