<% if @projects.empty? %>
  <div>
    <p>Você ainda não cadastrou projetos</p>
    <p><%= link_to 'Criar novo projeto', new_project_path %></p>
  </div>
<% else %>
  <br>
  <div>
    <% @projects.each do |p| %>
      <% if p.hire_date_limit > Date.current %>
        <div class="card bg-light mb-3" style="max-width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">Título: <%= p.title %></h5>
            <p class="card-text">Habilidades desejadas: <%= p.skill_sets %></p>
            <p class="card-text">Data limite para contratação: <%= l p.hire_date_limit %></p>
            <p class="card-text">Preço máximo por hora: <%= number_to_currency p.max_payment_per_hour %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>


