<% if @projects.empty? %>
  <div>
    <p>Você ainda não cadastrou projetos</p>
    <p><%= link_to 'Criar novo projeto', new_project_path %></p>
  </div>
<% else %>
  <div>
    <% @projects.each do |p| %>
      <% if p.hire_date_limit > Date.current %>
        <dl>
          <dt>Título:</dt>
          <dd><%= p.title %></dd>
          <dt>Habilidades desejadas: </dt>
          <dd><%= p.skill_sets %></dd>
          <dt>Data limite para contratação</dt>
          <dd><%= l p.hire_date_limit %></dd>
          <dt>Preço máximo por hora:</dt>
          <dd><%= number_to_currency p.max_payment_per_hour %></dd>
          
        </dl>
      <% end %>
    <% end %>
  </div>
<% end %>

<% @projects.each do |p| %>
  <%= p.title %>
  <% p.project_propositions.each do |pp| %>
    <%= pp.motivation %>
  <% end %>
<% end %>