<h1>Cadastro de Novos Projetos</h1>
<% if @project.errors.any? %>
  <ul>
    <% @project.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @project) do |f| %>
  <div>
    <%= f.label :title %>
  <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :detailed_description %>
    <%= f.text_area :detailed_description, rows: 5, cols: 100 %>
  </div>
  <div>
    <%= f.label :skill_sets %>
    <%= f.text_field :skill_sets %>
  </div>
  <div>
    <%= f.label :max_payment_per_hour %>
    <%= f.number_field :max_payment_per_hour %>
  </div>
  <div>
    <%= f.label :hire_date_limit %>
    <%= f.date_field :hire_date_limit %>
  </div>
  <div>
    <%= f.label :work_type_id %>
    <%= f.collection_select :work_type_id, WorkType.all, :id, :description  %>
  </div>
  <%= f.submit 'Cadastrar Projeto' %>
<% end %>