<dl>
  <dl><strong><%= @project.title %></strong></dl>
  <dl>Descrição: <%= @project.detailed_description %></dl> 
  <dl>Habilidades desejadas: <%= @project.skill_sets %></dl>
  <dl>Data limite de contratação: <%= l @project.hire_date_limit %></dl>
  <dl>Preço máximo por hora: <%= number_to_currency @project.max_payment_per_hour %></dl>
  <dl>Modalidade de trabalho: <%= @project.work_type.description %></dl>
  <dl>Gerente do projeto: <%= @project.user.email %></dl>
</dl>

<% if user_signed_in? %>
  <%= form_with(model: @project, url: end_project_project_path(@project.id), method: :post) do |epp| %>
    <%= epp.submit 'Terminar projeto' %>
  <% end %>
  <br>
  <%= form_with(model: @project, url: end_accepting_devs_project_path(@project.id), method: :post) do |epp| %>
    <%= epp.submit 'Terminar recrutamento' %>
  <% end %>
<% end %>



<% if dev_signed_in? %>
  <% @dev.project_propositions.each do |dpp| %>
    <% if dpp.project == @project and dpp.status == 'accepted' %>
      <p>Você foi aceito para esse projeto!</p>
      <h2>Equipe aceita para esse projeto</h2>
      <% @project.project_propositions.each do |pp| %>
        <% if pp.status == 'accepted' %>
          <strong><%= link_to "#{pp.dev.dev_profile.full_name}", dev_profile_path(pp.dev.id) %></p></strong>
        <% end %>
      <% end %>
    <% elsif dpp.project == @project and dpp.status == 'rejected' %>
      <p>Você foi recusado pelo Gerente desse projeto</p>
      <p>Motivo da Recusa: <%= dpp.rejection_motive %></p>
    <% end %>
  <% end %>
  <%= link_to 'Veja suas propostas', project_project_propositions_path(@project.id) %>
<% end %>

<% if @project.devs.include?(@dev) and dev_signed_in? %>
  <p>Você já declarou interesse nesse projeto</p>
<% elsif dev_signed_in? %>
  <%= link_to 'Declarar interesse de participação', new_project_project_proposition_path(@project.id) %>
<% end %>

<% if user_signed_in? and @project.user.email == current_user.email %>
  <h4>Propostas de participação </h4>
  <% @project.project_propositions.each do |pp| %>
    <% if pp.status == 'pending' %>
      <div>
        <p><strong>Pessoa Desenvolvedora:</strong> <%= link_to "#{pp.dev.dev_profile.full_name}", dev_profile_path(pp.dev.id) %></p>
        <p>Motivação: <%= pp.motivation %></p>
        <p>Pagamento esperado: <%= number_to_currency pp.expected_payment %></p>
        <p>Horas por semana: <%= pp.available_hours_per_week %></p>
        <p>Expectativas: <%= pp.expectations %></p>
      </div>
      <p>
        <%= link_to 'Aceitar proposta', accept_project_proposition_path(pp.id), method: :post %>
      </p>
      <%= form_with(model: @project.project_propositions, url: deny_project_proposition_path(pp.id)) do |ppd| %>
        <div>
          <%= ppd.label :rejection_motive, 'Motivo da rejeição' %>
          <%= ppd.text_field :rejection_motive %>
        </div>
        <%= ppd.submit 'Rejeitar proposta' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>