<h3>
  <%= @project.title %>
</h3>
<div>
  <p>Descrição: <%= @project.detailed_description %></p>
</div>
<div>
  <p>Habilidades desejadas: <%= @project.skill_sets %></p>
</div>
<div>
  <p>Data limite de contratação: <%= l @project.hire_date_limit %></p>
</div>
<div>
  <p>Preço máximo por hora: <%= number_to_currency @project.max_payment_per_hour %></p>
</div>
<div>
  <p>Modalidade de trabalho: <%= @project.work_type.description %></p>
</div>
<div>
  <p>Gerente do projeto: <%= @project.user.email %></p>
</div>
<% if @dev.project_propositions.present? %>
  <p>Você já declarou interesse nesse projeto</p>
<% else %>
  <%= link_to 'Declarar interesse de participação', new_project_project_proposition_path(@project.id) %>
<% end %>

