<!DOCTYPE html>
<html>
  <head>
    <title>Dev4hire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash %>
      <% flash.each do |type, msg| %>
        <div><%= msg %></div>
        <% end %>
    <% end %>
    <nav>
      <% if dev_signed_in? %>
        <div>Bem vindo <%= current_dev.email %></div>
        <%= link_to 'Log out', destroy_dev_session_path, method: :delete %>
        <%= link_to 'Editar perfil', edit_dev_profile_path(current_dev.id) %>
      <% elsif user_signed_in? %>
        <div>Bem vindo <%= current_user.email %></div>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <% end %>
      <%= link_to 'Ãrea de projetos', projects_path %>
    </nav>
    <%= yield %>
  </body>
</html>
